<div class="categories-page page">
  <header class="page-hero category-hero" style="background-image: url({{ 'category-hero.png'  | asset_url }})">
    <div class="hero-content">
      <div class="container">
        {% for category_extra in settings.view.categories %}
          {% if category_extra.slug == category.slug %}
            {% assign category_cover = category_extra.cover %}
          {% endif %}
        {% endfor %}

        {% if category_cover %}
          {% image, class: "category-cover", src: category_cover, alt: category.title %}
        {% endif %}
      </div>
    </div>
  </header>

  <div class="container">
    {% include 'social-links' %}

    <div class="row">
      <div class="col-sm-4">
        {% include 'categories/category-list', categories: categories %}
      </div>

      <div class="col-sm-8">
        {% if root_category %}
          <ul class="category-breadcrumbs">
            <li>
              <a href="/categories/{{ root_category.slug }}">
                {{ root_category.title }}
              </a>
            </li>

            {% if parent_category %}
              <li><span class="separator">></span></li>
              <li>
                <a href="/categories/{{ root_category.slug }}/subcategories/{{ parent_category.slug }}">
                  {{ parent_category.title }}
                </a>
              </li>
            {% endif %}

            <li><span class="separator">></span></li>
            <li>
              <span>
                {{ category.title }}
              </span>
            </li>
          </ul>
        {% endif %}

        {% if products.size > 0 %}
          <div class="product-list">
            {% paginate products by 9 sort { title: :asc } %}
            <div class="row">
              <div id="js-product-list">
                {% for product in products %}
                  <div class="col-sm-12 col-md-6">
                    {% include 'product/product-card', product: product, gateway: gateway %}
                  </div>
                {% endfor %}
              </div>
            </div>

            {% if paginate.next.is_link %}
              <div id="product-more" class="col-xs-12 text-center" data-turbolinks-temporary>
                <a id="js-product-more-link" class="btn btn-default" href="{{ paginate.next.url }}">
                  <span class="bold">{{ 'product.load_more' | t }}</span>
                </a>

                <div class="js-paginate-spinner" style="display: none;">
                  <i class="busy busy-md"></i>
                </div>
              </div>
            {% endif %}
            {% endpaginate %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
